@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form action="/Home/AddProduct">
            <table>
                <tr><td>产品名:</td><td><input type="text" name="PName" /></td></tr>
                <tr><td>价格:</td><td><input type="text" name="Price" /></td></tr>
                <tr><td><input type="submit" value="提交" /></td></tr>
            </table>
        </form>
    </div>
</body>
</html>

