
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Filter的Index视图 
        <a href="/Filter/Show">点我出现异常</a>
    </div>
</body>
</html>
