@model MvcPassValue.Models.Student

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>ModelDemo</title>
</head>
<body>
	<div> 
		@Model.SName    
	</div>
</body>
</html>
